.card{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgb(51, 51, 51);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: rgb(51, 51, 51);
}

.student{
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  padding: 10px;
  border: 1px solid rgb(41, 41, 41);
}

.student p{
  margin: 0;
}

.welcome-message{
  font-size: 2em;
  background-color: rgb(33, 238, 10);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.login-prompt{
  font-size: 2em;
  background-color: rgb(255, 3, 3);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}

.list-category{
  font-size: 2.5em;
  font-weight: bold;
  color: rgb(220, 220, 220);
  margin-bottom: 10px;
  text-align: center;
  border: 3px solid;
  border-radius: 5px;
  background-color: rgb(28, 28, 28);
}

.list-items li{
  font-size: 2em;
  list-style: none;
  color: rgb(36, 36, 36);
  text-align: center;
  margin: 0;
}

.list-items li:hover{
  color: rgb(75, 75, 75);
  cursor: pointer;
}

.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display{
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 25px;
}

.counter-button{
  width: 120px;
  height: 40px;
  font-size: 1em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(200, 100%, 50%);
  border: none;
  cursor: pointer;
}

.counter-button:hover{
  background-color: hsl(200, 100%, 60%);
}

.color-picker-container{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-picker-container h1{
  margin :30px;
  font-size: 2em;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(160, 160, 160);
  border-radius: 20px;
  margin-bottom: 20px;
  transition: 0.25s ease;
}

.color-display p{
  color: rgb(39, 39, 39);
  font-size: 2rem;
  text-align: center;
}

.color-picker-container label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid rgb(160, 160, 160);
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.to-do-list h1{
  font-size: 4rem;
}

.to-do-list button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.add-button{
  background-color: rgb(20, 166, 12);
}

.add-button:hover{
  background-color: rgb(21, 200, 12);
}

.delete-button{
  background-color: rgb(188, 18, 18);
}

.delete-button:hover{
  background-color: rgb(209, 18, 18);
}
.move-button{
  background-color: rgb(17, 61, 155);
}

.move-button:hover{
  background-color: rgb(15, 69, 186);
}
.to-do-list input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid rgb(114, 114, 114);
  border-radius: 5px;
  color: rgb(50, 50, 50) ;
}

.to-do-list ol{
  padding: 0;
}

.to-do-list li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(230, 230, 230);
  margin-bottom: 10px;
  border: 3px solid rgb(114, 114, 114);
  border-radius: 5px;
  display: flex;
  align-items: center ;
}

.to-do-list .text{
  flex: 1;
}

.to-do-list .delete-button, .move-button{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

.clock-container{
  backdrop-filter: blur(5px);
  padding: 10px 0;
}

.clock{
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 2px 2px 4px rgb(68, 68, 68);
  text-align: center;
}

.box{
  border: 3px solid;
  padding: 25px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(221, 221, 221);
}

.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid black;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: rgb(44, 44, 44);
  text-shadow: 2px 2px 2px rgb(49, 49, 49);
  margin-bottom: 25px;
}

.controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

.start-button{
  background-color: hsl(115, 100%, 40%);
}

.start-button:hover{
  background-color: hsl(115, 100%, 35%);
}

.stop-button{
  background-color: hsl(10, 90%, 50%);
}

.stop-button:hover{
  background-color: hsl(10, 90%, 45%);
}

.reset-button{
  background-color: hsl(205, 90%, 60%);
}

.reset-button:hover{
  background-color: hsl(205, 90%, 55%);
}